  
<div id="chartsCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <p class="fs-4 fw-semibold text-center">Orders by Day of the Week</p>
      <%= line_chart @orders.group_by_day_of_week(:created_at, format: "%a").count, height: "400px", width: "100%" %>
    </div>
    <div class="carousel-item">
      <p class="fs-4 fw-semibold text-center">Orders by Month</p>
      <%= line_chart @orders.group_by_month(:created_at, format: "%b %Y", range: 1.year.ago..Time.now).count, height: "400px", width: "100%" %>
    </div>
    <div class="carousel-item">
      <p class="fs-4 fw-semibold text-center">Orders by Day of the Month</p>
      <%= column_chart @orders.group_by_day(:created_at, format: "%d %b", range: Time.current.beginning_of_month..Time.current).count, height: "400px", width: "100%" %>
    </div>
  </div>

  <!-- Dark Navigation Buttons -->
  <button class="carousel-control-prev btn btn-light" type="button" data-bs-target="#chartsCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next btn btn-light" type="button" data-bs-target="#chartsCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="mt-4">
  <p class="fs-4 fw-semibold text-center">Average Book Ratings</p>
  <%= pie_chart @feedbacks.joins(:book).group("books.book_name").average(:rating), height: "400px", width: "100%" %>
</div>