<% if user_signed_in? && current_user.role == "author" %>
  <%= link_to raw('<i class="fa-solid fa-arrow-left fa-xl"></i>'), book_path(@book) %>
  <h2 class="my-3">Edit Book</h2>

  <%= render "form" %>

<% end %>