<% if user_signed_in? && current_user.role == "author" %>
  <%= link_to raw('<i class="fa-solid fa-arrow-left fa-xl"></i>'), root_path %>
  <h2 class="my-3">Add Book</h2>

  <%= render "form" %>

<% end %>