<% if user_signed_in? && current_user.role == "seller" %>
  <%= link_to raw('<i class="fa-solid fa-arrow-left fa-xl"></i>'), book_seller_path(@book_seller) %>
  <h2 class="my-3">Edit Book</h2>

  <%= render "form" %>

<% end %>